Source: tttt
Section: devel
Priority: optional
Maintainer: Joseph W. Lutalo <jwl@nuchwezi.com>

Package: tttt
Version: 1.0.7
Standards-Version: 1.0.7
XSBC-Original-Maintainer: Joseph W. Lutalo <jwl@nuchwezi.com>
Architecture: any
Homepage: https://github.com/mcnemesis/cli_tttt
Vcs-Git: https://github.com/mcnemesis/cli_tttt
Description: tttt is the reference implementation of the TEA computer programming language interpreter meant for use in development or running of TEA programs and scripts.
