Package: tttt
Version: 1.0.1
Architecture: amd64
Maintainer: Joseph W. Lutalo <jwl@nuchwezi.com>
Installed-Size: 26
Depends: python3 (>= 3.5)
Section: devel
Priority: optional
Homepage: https://github.com/mcnemesis/cli_tttt
Description: tttt is the reference implementation of the TEA language interpreter
 meant for use in development or running of TEA programs and scripts.
